<h1>Pages#profile</h1>
<p>Find me in app/views/pages/profile.html.erb</p>
<div class="container mt-3">
  <div class="row row-cols-1 row-cols-md-3 m-3">
  <% @boards.each do |board| %>
    <div class="col mb-4">
      <div class="card h-100">
        <div class="card-body">
          <%=board.style%>
          <%=board.size%>
          <%=board.year%>
          <%=board.price_per_day%>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>
