<div class="banner" style="background-image: url('<%= image_path 'image2.jpg' %>');">
  <div class="banner-content">
    <h1>Board for us</h1>
    <p>
      <span id="banner-typed-text"></span>
    </p> 
  </div>
</div>