<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <h1>Board</h1>

      <%=@board.style%>
      <%=@board.size%>
      <%=@board.year%>
      <%=@board.price_per_day%>

    </div>
  </div>
</div>