.banner {
  color: white;
  text-align: center;
  height: 500px;
  margin-top: -20px;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: right;
  margin-bottom: 15px;
  margin-right: 10px;  
}

.banner-content h1 {
  margin-top: 10px;
  margin-left: 1025px;
  text-align: right;
  color: white;
  text-shadow: 0 0 3px #255784;
  font-family: "Allerta Stencil" !important;
  font-size: 80px;
}

.banner-subtitle{
  margin-top: 400px;
  margin-left: -800px;
  text-align: right;
  color: white;
  font-family: "Allerta Stencil" !important;
  font-size: 25px;
  text-shadow: 0 0 3px #255784;
}

body {
  background-color: white;
}

.container {
  padding: 10px;
  margin-top: 20px;
}

.btn{
  color: white;
  font-size: 15px;
  text-shadow: 0 0 3px #255784;
  overflow: hidden;
  transition: 0.2s;
}

btn:hover
{
  color: #255784;
  background: #2196f3;
  box-shadow: 0 0 10px gray;
  transition-delay: 1s;
}
