.card {
  height: 280px;
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  border-radius: 5%;
}

.card-description{
  color: rgba(0,0,0,0);
  &:hover{
    opacity: 0.70;
    color: black;
    text-decoration: none;
  }
  .p1 {
    padding-top: 180px;
  }
  h2 {
  font-size: 20px;
  text-decoration: none;
  text-align: left;    
  }

}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}

.card-body-dash p {
  color: black;
}

.h2-style {
  text-align: center;
  padding-top: 4px;
}

.card-body-dash img {
  object-fit: cover;
  height: 330px;
}

.board-container {
  border: black 1px solid;
}
